*{
    margin: 0;
    padding: 0;
   
}

body{
    background: #dde1e7;
    
}

.navbar{
    width: 100%;
}

#signOut{   
margin-left: auto;
margin-right: 50px;
color: white;
text-decoration: none;
}

.header{
    text-align: center;
    margin: 50px;
}

.form-container{
    margin-top: 50px;
    width: 50%;
    height: fit-content;
    border-radius: 15px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: inset 3px 3px 5px #cbced1, inset -3px -3px 5px white;
          
}

.form-floating{
    width: 300px;
    margin: 10px;
}


.form-control{
    border-radius: 0px;  
    border: none;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    box-shadow:  6px 6px 6px #cbced1,  -4px -4px 4px white; 
    
}

.form-control:hover{
    box-shadow: 0 5px 15px rgba(245, 180, 3, 0.616);
}

.form-floating small{
    visibility: hidden;
}




#float-lables{
    text-align: center;
} 

#date-pick{
    text-align: center;
}


#float-lables-date{
    text-align: center;
    margin-left: 15px;
}



/* radio gender... */
.list {
    border: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    box-shadow:  6px 6px 6px #cbced1,  -4px -4px 4px white;   
}

.list:hover{
    box-shadow: 0 5px 15px rgba(245, 180, 3, 0.616);
}

.item {
    text-align: left;
    display: inline-block;
}

.form-select{
    border: none;
    border-radius: 0px;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1,  -4px -4px 4px white; 
}

.form-select:hover{
    box-shadow: 0 5px 15px rgba(245, 180, 3, 0.616);   
}

.table-container{
    text-align: center;
    border-radius: 0px;  
    background: #ecf0f3;
    font-size: 15px;
    box-shadow: 10px 10px 10px #cbced1,  -6px -6px 6px white;   
    height: 150px;
}

.form-check-input:hover{
    box-shadow: 0 5px 15px rgba(245, 180, 3, 0.616);  
}

.button{
    text-align: center; 
    align-content: center;
    border-radius: 0px;  
    background: #ecf0f3;
    font-size: 15px;
    box-shadow: 10px 10px 10px #cbced1,  -6px -6px 6px white;   
}

.container{
    text-align: center; 
    align-content: center;
    border-radius: 0px;  
    background: #ecf0f3;
    font-size: 15px;
    box-shadow: 10px 10px 10px #cbced1,  -6px -6px 6px white;   
}

